<div id="finishedTransaction" class="right-left">
    <header class="top">
        <span class="close mui-icon mui-icon-closeempty mui-pull-left"></span>
        <h3>已办事务</h3>
        <span class="finishedSearch mui-pull-right mui-icon mui-icon-checkmarkempty">&nbsp;搜索</span>
    </header>
    <div class="finishedContent">
        <div class="list-item">
            <span class='sheet-date'>2017-09-12</span>
            <span class='sheet-title'>123345</span>
        </div>
        <div class="list-item">
            <span class='sheet-date'>2017-09-12</span>
            <span class='sheet-title'>费用报销单</span>
        </div>
    </div>
</div>