<div id="shortcut" class="right-left">
    <header class="top">
        <span class="close mui-icon mui-icon-closeempty mui-pull-left"></span>
        <h3>快捷方式</h3>
        <!--<span class="addBudget addGroupBtn mui-pull-right mui-icon mui-icon-contact">&nbsp;添加分组</span>-->
    </header>
    <div class="short-content">
        <form class="mui-input-group">
            <h4>网络办公</h4>
            <h5><span class="mui-icon mui-icon-spinner-cycle mui-spin"></span>信息中心</h5>
            <div class="mui-input-row mui-checkbox mui-left">
                <label>信息浏览</label>
                <input name="checkbox" value="Item 1" type="checkbox">
            </div>
            <div class="mui-input-row mui-checkbox mui-left">
                <label>发布信息</label>
                <input name="checkbox" value="Item 2" type="checkbox" checked>
            </div>
            <div class="mui-input-row mui-checkbox mui-left">
                <label>管理信息</label>
                <input name="checkbox" value="Item 2" type="checkbox" checked>
            </div>

            <h5><span class="mui-icon mui-icon-spinner-cycle mui-spin"></span>电子邮件</h5>
            <div class="mui-input-row mui-checkbox mui-left">
                <label>发送邮件</label>
                <input name="checkbox" value="Item 1" type="checkbox">
            </div>
            <div class="mui-input-row mui-checkbox mui-left">
                <label>接收邮件</label>
                <input name="checkbox" value="Item 2" type="checkbox" checked>
            </div>
            <div class="mui-input-row mui-checkbox mui-left">
                <label>草稿箱</label>
                <input name="checkbox" value="Item 2" type="checkbox" checked>
            </div>
            <div class="mui-input-row mui-checkbox mui-left">
                <label>已发邮件</label>
                <input name="checkbox" value="Item 2" type="checkbox" checked>
            </div>
            <div class="mui-input-row mui-checkbox mui-left">
                <label>管理文档</label>
                <input name="checkbox" value="Item 2" type="checkbox" checked>
            </div>
            <div class="mui-input-row mui-checkbox mui-left">
                <label>浏览文档</label>
                <input name="checkbox" value="Item 2" type="checkbox" checked>
            </div>
            <div class="mui-input-row mui-checkbox mui-left">
                <label>管理文档</label>
                <input name="checkbox" value="Item 2" type="checkbox" checked>
            </div>

            <h5><span class="mui-icon mui-icon-spinner-cycle mui-spin"></span>工作表单</h5>
            <div class="mui-input-row mui-checkbox mui-left">
                <label>已建表单</label>
                <input name="checkbox" value="Item 2" type="checkbox" checked>
            </div>
            <div class="mui-input-row mui-checkbox mui-left">
                <label>待办表单</label>
                <input name="checkbox" value="Item 2" type="checkbox" checked>
            </div>
            <div class="mui-input-row mui-checkbox mui-left">
                <label>已办表单</label>
                <input name="checkbox" value="Item 2" type="checkbox" checked>
            </div>

            <h5><span class="mui-icon mui-icon-spinner-cycle mui-spin"></span>事务办理</h5>
            <div class="mui-input-row mui-checkbox mui-left">
                <label>新建事务</label>
                <input name="checkbox" value="Item 2" type="checkbox" checked>
            </div>
            <div class="mui-input-row mui-checkbox mui-left">
                <label>已建事务</label>
                <input name="checkbox" value="Item 2" type="checkbox" checked>
            </div>
            <div class="mui-input-row mui-checkbox mui-left">
                <label>待办事务</label>
                <input name="checkbox" value="Item 2" type="checkbox" checked>
            </div>
            <div class="mui-input-row mui-checkbox mui-left">
                <label>已办事务</label>
                <input name="checkbox" value="Item 2" type="checkbox" checked>
            </div>
            <div class="mui-input-row mui-checkbox mui-left">
                <label>查阅事务</label>
                <input name="checkbox" value="Item 2" type="checkbox" checked>
            </div>

            <h4>控制面板</h4>
            <h4>应用扩展</h4>
        </form>
    </div>
</div>