<div id="selectContact" class="bottom-top">
    <header class="mui-bar mui-bar-nav">
        <a class="mui-icon mui-icon-closeempty mui-pull-left select-contact-close"></a>
        <a class="mui-icon mui-icon-checkmarkempty mui-pull-right select-contact-confirm">确定</a>
        <h1 class="mui-title">选择联系人</h1>
    </header>
    <div class="select-contact-list">
        <ul class="">
            <li class="mui-table-view-cell">
                <div>同事
                    <p class="mui-pull-right getContact">0 <span class="mui-icon mui-icon-loop"></span></p>
                </div>
                <div class="list-content">
                </div>
            </li>
            <li class="mui-table-view-cell">
                <div>朋友
                    <p class="mui-pull-right getContact">0 <span class="mui-icon mui-icon-loop"></span></p>
                </div>
                <div class="list-content">
                </div>
            </li>
            <li class="mui-table-view-cell">
                <div>客户
                    <p class="mui-pull-right getContact">0 <span class="mui-icon mui-icon-loop"></span></p>
                </div>
                <div class="list-content">
                </div>
            </li>
            <li class="mui-table-view-cell">
                <div>业务
                    <p class="mui-pull-right getContact">0 <span class="mui-icon mui-icon-loop"></span></p>
                </div>
                <div class="list-content">
                </div>
            </li>
            <li class="mui-table-view-cell">
                <div>服务
                    <p class="mui-pull-right getContact">0 <span class="mui-icon mui-icon-loop"></span></p>
                </div>
                <div class="list-content">
                </div>
            </li>
            <li class="mui-table-view-cell">
                <div>其他
                    <p class="mui-pull-right getContact">0 <span class="mui-icon mui-icon-loop"></span></p>
                </div>
                <div class="list-content">
                </div>
            </li>
            <li class="mui-table-view-cell">*搜索结果
                <p class="mui-pull-right">0 <span class="mui-icon mui-icon-minus"></span></p>
            </li>
        </ul>
    </div>
    <div class="mui-input-row mui-search">
        <!--<span class="mui-icon mui-icon-search"></span>-->
        <input type="search" class="mui-input-clear" placeholder="请输入姓名或者其简拼搜索">
    </div>
</div>