<div id="friendSetting" class="right-left">
    <header class="top">
        <span class="close mui-icon mui-icon-closeempty mui-pull-left"></span>
        <h3>好友设置</h3>
        <span class="addBudget addGroupBtn mui-pull-right mui-icon mui-icon-contact">&nbsp;添加分组</span>
    </header>
    <div class="friend-group">
        <div class="friend-list">
            <div class="friend-item">
                <span class="modify-group mui-icon mui-icon-compose"></span>
                <div class="input-wrapper">
                    <p class="mui-icon mui-icon-contact">1</p>
                </div>
                <div class="add-friend"><span></span>添加好友</div>
            </div>
            <div class="friends">
                <input type="text" name="" value="" readonly>
            </div>
        </div>
    </div>
</div>

<div class="addGroup-pop">
    <div class="pop-title">修改分组</div>
    <div class="pop-input">
        <input class="input-group-name" type="text" name="" value="" placeholder="请输入分组名称">
    </div>
    <div class="popBtn">
        <span class="group-cancel">取消</span>
        <span class="group-confirm">保存</span>
    </div>
</div>