<div id="employeeForum" class="right-left">
    <header class="top">
        <span class="close mui-icon mui-icon-closeempty mui-pull-left"></span>
        <h3>员工论坛</h3>
        <span class="publish mui-pull-right mui-icon mui-icon-plus">&nbsp;发布</span>
    </header>

    <div class="forum-list">
        <div class="list-row title">
            <div class="theme">主题</div>
            <div class="author">作者</div>
            <div class="click">点击</div>
            <div class="answer">回复</div>
            <div class="last-answer">最后回复</div>
        </div>

        <div class="list-row">
            <div class="theme">出差在外请不要忽视家人</div>
            <div class="author">李萌</div>
            <div class="click">18</div>
            <div class="answer">43</div>
            <div class="last-answer">2017/09/09</div>
        </div>

        <div class="list-row">
            <div class="theme">出差在外请不要忽视家人</div>
            <div class="author">李萌</div>
            <div class="click">18</div>
            <div class="answer">43</div>
            <div class="last-answer">2017/09/09</div>
        </div>
    </div>
</div>