<div id="postContent" class="bottom-top">
    <header class="top">
        <span class="close mui-icon mui-icon-closeempty mui-pull-left"></span>
        <h3>帖子</h3>
        <span class="answer mui-pull-right mui-icon mui-icon-plus">&nbsp;回复</span>
    </header>

    <div class="content-container">
        <div class="post-header">
            <div class="title">标题：出差请不要忽视家人</div>
            <span class="delete">删除</span>
        </div>

        <div class="mui-card">
            <!--页眉，放置标题-->
            <div class="mui-card-header">1# 作者姓名：李萌 发表于 2017/09/09</div>
            <!--内容区-->
            <div class="mui-card-content">请各部门关注进度安排</div>
        </div>

        <div class="mui-card">
            <div class="mui-card-header">2# 作者姓名：李萌 发表于 2017/09/09</div>
            <div class="mui-card-content">请各部门关注进度安排</div>
        </div>

        <div id="articleEditor">
        </div>
    </div>
    <!--<div id="articleEditor"></div>-->
</div>