<div id="publishPost" class="bottom-top">
    <header class="top">
        <span class="close mui-icon mui-icon-closeempty mui-pull-left"></span>
        <h3>帖子发布</h3>
        <span class="answer mui-pull-right mui-icon mui-icon-plus">&nbsp;保存</span>
    </header>

    <div class="content-container">
        <div class="post-theme">
            <label>主题</label>
            <input type="text" name="" value="" placeholder="请输入主题">
        </div>
        <div id="content" class="post-content">
        </div>
    </div>
</div>