<div id="transactionBill">
    <header class="top">
        <span class="close mui-icon mui-icon-closeempty mui-pull-left"></span>
        <h3>费用报销单</h3>
    </header>

    <div class="transactionBillContent">
        <div class="scrollContainer">
            <table class="firstTable" style="width: 700px">
                <tbody>
                    <tr class="firstrow">
                        <td valign="center" colspan="2" align="middle"></td>
                        <td valign="center" colspan="2" align="middle"><span style="text-decoration: underline"><strong style="white-space: normal; font-size: 16px">　费 用 报 销 单　</strong></span></td>
                        <td valign="center" colspan="2" align="middle">　</td>
                    </tr>
                    <tr>
                        <td style="width: 80px; " valign="top">报销部门：</td>
                        <td style="width: 150px; " valign="top">单位<input type="hidden" value="单位"></td>
                        <td valign="center" align="right">报销日期：</td>
                        <td style="width: 100px; " valign="top">2017-9-3<input type="hidden" value="2017-9-3"></td>
                        <td valign="center" align="right">单据附件(张)：</td>
                        <td style="width: 50px; " valign="top">1<input type="hidden" value="1"></td>
                    </tr>
                </tbody>
            </table>

            <table class="secondTable" style="width: 700px">
                <tbody>
                    <tr class="firstrow">
                        <td style=" width: 400px; " valign="center" colspan="3" align="middle"><strong>费用项目<br></strong></td>
                        <td style=" width: 100px; word-break: break-all; " valign="center" align="middle"><strong>金额<br></strong></td>
                    </tr>
                    <tr>
                        <td style=" " valign="top" colspan="3">A<input type="hidden" value="A"></td>
                        <td style=" " valign="top">1<input type="hidden" value="1"></td>
                    </tr>
                    <tr>
                        <td style=" " valign="top" colspan="3">B<input type="hidden" value="B"></td>
                        <td style=" " valign="top">1<input type="hidden" value="1"></td>
                    </tr>
                    <tr>
                        <td style=" " valign="top" colspan="3">C<input type="hidden" value="C"></td>
                        <td style=" " valign="top">1<input type="hidden" value="1"></td>
                    </tr>
                    <tr>
                        <td style=" " valign="top" colspan="3"><input type="hidden" value=""></td>
                        <td style=" " valign="top"><input type="hidden" value=""></td>
                    </tr>
                    <tr>
                        <td style=" " valign="top" colspan="3"><input type="hidden" value=""></td>
                        <td style=" " valign="top"><input type="hidden" value=""></td>
                    </tr>
                    <tr>
                        <td style=" width: 130px; word-break: break-all; " valign="top">总计金额（大写）<br></td>
                        <td style=" " valign="top">叁<input type="hidden" value="叁"></td>
                        <td style=" width: 20px; " valign="center" align="right">￥<br></td>
                        <td style=" word-break: break-all; " valign="top">3<input type="hidden" value="3"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="mui-content">

            <div class="mui-row title">
                <div class="mui-col-sm-2 mui-col-xs-2">
                    序号
                </div>
                <div class="mui-col-sm-10 mui-col-xs-10">
                    办理情况
                </div>
            </div>

            <div class="mui-row">
                <div class="mui-col-sm-2 mui-col-xs-2">
                    0
                </div>
                <div class="mui-col-sm-3 mui-col-xs-3">
                    费用报销单
                </div>
                <div class="mui-col-sm-2 mui-col-xs-2">
                    提交
                </div>
                <div class="mui-col-sm-2 mui-col-xs-2">
                    ADM
                </div>
                <div class="mui-col-sm-3 mui-col-xs-3">
                    2017-09-03
                </div>
            </div>

            <div class="mui-row">
                <div class="mui-col-sm-2 mui-col-xs-2">
                    1
                </div>
                <div class="mui-col-sm-3 mui-col-xs-3">
                    领导审批
                </div>
                <div class="mui-col-sm-2 mui-col-xs-2">
                    不同意
                </div>
                <div class="mui-col-sm-2 mui-col-xs-2">
                    APP
                </div>
                <div class="mui-col-sm-3 mui-col-xs-3">
                    2017-09-03
                </div>
            </div>

            <div class="mui-row">
                <div class="mui-col-sm-2 mui-col-xs-2">

                </div>
                <div class="mui-col-sm-10 mui-col-xs-10">
                    请填写项目3
                </div>
            </div>

            <div class="mui-row">
                <div class="mui-col-sm-2 mui-col-xs-2">
                    2
                </div>
                <div class="mui-col-sm-3 mui-col-xs-3">
                    【退回】费用报销单
                </div>
                <div class="mui-col-sm-2 mui-col-xs-2">
                    同意
                </div>
                <div class="mui-col-sm-2 mui-col-xs-2">
                    ADM
                </div>
                <div class="mui-col-sm-3 mui-col-xs-3">
                    2017-09-03
                </div>
            </div>

        </div>
    </div>

    <div class="transactionBillToolBar">
        <p>创建人：ADM　填报截止日期：2017-09-13</p>
    </div>
</div>