<div id="addDayOrderContent" class="bottom-top">
    <header class="top">
        <span class="close mui-icon mui-icon-closeempty mui-pull-left"></span>
        <h3>工作日程详情</h3>
        <span class="save mui-pull-right mui-icon mui-icon-plus">&nbsp;保存</span>
    </header>

    <div class="day-order-detail">
        <div class="day-order-title">
            <span>日程主题：</span>
            <input type="text" name="" value="" placeholder="请输入日程主题">
        </div>
        <div class="start-end">
            <span>起止时间：</span>
            <p>
                <input type="time" value="00:00">
                <span>~</span>
                <input type="time" value="00:00">
            </p>
        </div>
        <div class="day-theme">
            <span>活动主题：</span>
            <input type="text" value="" placeholder="请输入活动主题">
        </div>
        <div class="details">
            <span>详细内容：</span>
            <textarea rows="1" cols="" placeholder="请输入活动详情"></textarea>
        </div>
    </div>

    <button type="button">添加活动</button>
</div>