<div id="cahierContent" class="bottom-top">
    <header class="top">
        <span class="close mui-icon mui-icon-closeempty mui-pull-left"></span>
        <h3>会议详情</h3>
        <span class="modify mui-pull-right mui-icon mui-icon-plus">&nbsp;修改</span>
    </header>

    <div class="cahier-content">
        <h4>XXX有限公司办公室会议记录</h4>
        <div>
            <label>时间:</label>
            <input type="text" name="" value="20XX年X月XX日星期X">
        </div>
        <div>
            <label>会议地点:</label>
            <input type="text" name="" value="xxx">
        </div>
        <div>
            <label>主持人:</label>
            <input type="text" name="" value="xxx">
            <label>记录人:</label>
            <input type="text" name="" value="xxx">
        </div>
        <div>
            <label>出席人</label>
            <input type="text" name="" value="x人">
            <label>缺席:</label>
            <input type="text" name="" value="x人">
        </div>
        <div>
            <label>会议内容:</label>
        </div>
    </div>
    <div id="articleEitor"></div>
    <div class="cover"></div>
</div>