<div id="cahier">
    <header class="top">
        <span class="close mui-icon mui-icon-closeempty mui-pull-left"></span>
        <h3>会议记录</h3>
        <span class="publish mui-pull-right mui-icon mui-icon-plus">&nbsp;发布</span>
    </header>

    <div class="meeting-list">
        <div class="list-row title">
            <div class="theme">主题</div>
            <div class="time">时间</div>
            <div class="place">地点</div>
            <div class="compere">主持人</div>
        </div>

        <div class="list-row">
            <div class="theme ellipsis">健康的理解</div>
            <div class="time">2017/12/12</div>
            <div class="place ellipsis">圣诞快乐发的快乐</div>
            <div class="compere ellipsis">哈好的</div>
        </div>
    </div>
</div>