<div id="dayOrderContent">
    <header class="top">
        <span class="close mui-icon mui-icon-closeempty mui-pull-left"></span>
        <h3>工作日程详情</h3>
        <span class="modify mui-pull-right mui-icon mui-icon-plus">&nbsp;修改</span>
    </header>

    <div class="day-order-detail">
        <div class="day-order-title">
            <input type="text" name="" value="2017/09/14">
        </div>
        <div class="start-end">
            <span>起止时间：</span>
            <p>
                <input type="time" value="00:00">
                <span>~</span>
                <input type="time" value="00:00">
            </p>
        </div>
        <div class="day-theme">
            <span>活动主题：</span>
            <input type="text" value="今天的日程主题">
        </div>
        <div class="details">
            <span>详细内容：</span>
            <textarea rows="1" cols=""></textarea>
        </div>
    </div>
</div>