<div id="addRecipient">
    <header class="mui-bar mui-bar-nav">
        <a class="mui-icon mui-icon-closeempty mui-pull-left close"></a>
        <a class="mui-icon mui-icon-checkmarkempty mui-pull-right confirm">确定</a>
        <h1 class="mui-title">选择用户</h1>
    </header>
    <div class="recipient-list">
        <form class="mui-input-group">
            <div class="mui-input-row mui-checkbox mui-left">
                <label>单位</label>
                <input name="checkbox" value="单位" type="checkbox">
                <p class="getUser"><span>1</span><b class="mui-icon mui-icon-loop"></b></p>
                <div class="user-list"></div>
            </div>
            <div class="mui-input-row mui-checkbox mui-left">
                <label>部门</label>
                <input name="checkbox" value="部门" type="checkbox">
                <p class="getUser"><span>1</span><b class="mui-icon mui-icon-loop"></b></p>
                <div class="user-list"></div>
            </div>
            <div class="mui-input-row mui-checkbox mui-left">
                <label>*搜索结果</label>
                <input name="checkbox" type="checkbox">
                <p class="getUser"><span>1</span><b class="mui-icon mui-icon-loop"></b></p>
                <div class="user-list"></div>
            </div>
        </form>
    </div>
</div>