<div id="postCode" class="right-left">
    <header class="top">
        <span class="close mui-icon mui-icon-closeempty mui-pull-left"></span>
        <h3>邮编区号</h3>
        <!--<span class="addBudget mui-pull-right mui-icon mui-icon-plus">&nbsp;新建</span>-->
    </header>
    <div class="post-code-content">
        <div class="post-code-list-row">
            <div>区域名称</div>
            <div>邮编</div>
            <div>区号</div>
        </div>
    </div>

    <div class="mui-input-row mui-search">
        <!--<span class="mui-icon mui-icon-search"></span>-->
        <input type="search" class="mui-input-clear" placeholder="请输入姓名或者其简拼搜索">
    </div>
</div>