<div id="builtSheet">
    <header class="top">
        <span class="close mui-icon mui-icon-closeempty mui-pull-left"></span>
        <h3>日常计划工作</h3>
        <span class="new-built mui-pull-right mui-icon mui-icon-plus">&nbsp;添加</span>
    </header>

    <div class="sheet-content">
        <div class="list-row">
            <div class='plan-name'>
                <span>计划名称</span>
            </div>
            <div class="create-person">
                <span>创建人</span>
            </div>
            <div class="part">
                <span>所属部门</span>
            </div>
            <div class="start-time">
                <span>开始时间</span>
            </div>
            <div class="modify">
                <span>操作</span>
            </div>
        </div>

        <div class="list-row">
            <div class='plan-name sheet-title'>
                <span>计划名称hkfjd</span>
            </div>
            <div class="create-person">
                <span>发给客户</span>
            </div>
            <div class="part">
                <span>代课教师</span>
            </div>
            <div class="start-time">
                <span>2017-09-09</span>
            </div>
            <div class="delete">
                <span>删除</span>
            </div>
        </div>
    </div>
</div>