<div id="newPlan" class="bottom-top">
    <header class="top">
        <span class="close mui-icon mui-icon-closeempty mui-pull-left"></span>
        <h3>新建计划</h3>
        <span class="addBudget mui-pull-right mui-icon mui-icon-checkmarkempty">&nbsp;保存</span>
    </header>

    <div class="fillSheetContent tableContent">
        <table class="table1" border="1" bordercolor="#C0C0C0">
            <caption><input type="text" value="计划名称"></caption>
            <tbody>
                <tr>
                    <td>创建人</td>
                    <td><input type="text" value=""></td>
                    <td>所属部门</td>
                    <td><input type="text" value=""></td>
                </tr>
                <!---->
                <tr>
                    <td>开始时间</td>
                    <td><input type="date" value=""></td>
                    <td>结束时间</td>
                    <td><input type="date" value=""></td>
                </tr>
                <tr>
                    <td>评审人</td>
                    <td><input type="text" value=""></td>
                    <td>执行人</td>
                    <td><input type="text" value=""></td>
                </tr>
                <tr class="last-row">
                    <td colspan="4">
                        <table class="table2" border="1" bordercolor="#C0C0C0">
                            <tbody>
                                <tr>
                                    <td>序号</td>
                                    <td>计划事项</td>
                                    <td>执行人</td>
                                    <td>执行时间</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td><input type="text" value=""></td>
                                    <td><input type="text" value=""></td>
                                    <td><input type="text" value=""></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button type="button">添加事项</button>
</div>