<div id="runSheet" class="right-left">
    <header class="top">
        <span class="close mui-icon mui-icon-closeempty mui-pull-left"></span>
        <h3>已办表单</h3>
        <span class="runSheetSearch mui-pull-right mui-icon mui-icon-checkmarkempty">&nbsp;搜索</span>
    </header>
    <div class="runSheetContent">
        <div class="list-item">
            <span class='sheet-date'>2017-09-12</span>
            <span class='sheet-title'>送货记录单</span>
        </div>
        <div class="list-item">
            <span class='sheet-date'>2017-09-12</span>
            <span class='sheet-title'>送货记录单</span>
        </div>
    </div>
</div>